<div class="center jumbotron">
  <div class="text-center">
    <h1>Welcome to the FX Trade Log</h1>
    <% unless logged_in? %>
      <%= link_to 'ユーザー新規登録', signup_path, class: 'btn btn-primary link-signup' %>
    <% end %>
</div>
</div>
<div class="text-center">
  <h2>【使い方】</h2>
  <br>
  <h5>▼以下のようにFXトレードの内容を記録し、自身のトレードを振り返り、<br>トレードの勝率を上げていきましょう！</h5>
  <br>
  <img class="mr-2 rounded" src="/assets/FXTradeLog_newlog_561x758.png" alt="トレードの記録">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h5>▼作成したトレード記録はMyPageからいつでも確認できます！</h5>
  <br>
  <img class="mr-2 rounded" src="/assets/FXTradeLog_mypage_576x346.png" alt="トレードの記録">
</div>
